.Announcements{
    background:white;
    width: 90%;
    margin: 10px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    text-align: center;
    font-size:18px;
    font-family: 'Raleway', sans-serif;
    color: black;
    padding-left: 40px;
    padding-right: 40px;
}

.fixPadding{
    padding-bottom: 30px;
    padding-top: 10px;
    position:absolute;
}

.inputName {
    padding-top: 25px;
}

input[type="text"] {
    width: 400px;
    border: 1px solid #ccc;
    margin-bottom: 0px;
}


.subtitlesHead4{
    color:#08b219;
    padding-top: 25px;
}

.headerHBDPromo{
    font-family: 'Lobster', cursive;
    color:  #14a76c;
}

.videoModal{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}

.borderSchedule {
    width: 90%;
    margin: 10px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    text-align: center;
}

.subtitlesHeadAnn1{
    color: #C2185B;
    font-size:18px;
}

.subtitlesHeadAnn2{
    color: black;
    font-size:18px;
}

.addBorderAnnoun{
    border:double #cb2d6f;
   
}