.PromoLoop{
    background: white;
    width: 90%;
    margin: 10px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    text-align: center;
    font-size:18px;
    font-family: 'Raleway', sans-serif;
    color: black;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;


}

.subtitlesHead{
    color:#08b219;
}