.PromoLoop{
    background: white;
    width: 90%;
    margin: 10px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    text-align: center;
    font-size:18px;
    font-family: 'Raleway', sans-serif;
    color: black;
    padding-top: 15px;
    padding-left: 40px;
    padding-right: 40px;


}

.fixWidth{
    width: 50%;
}

select {
    background-color: rgba(255,255,255,0.9);
    width: 70%;
    padding: 5px;
    border: 1px solid #797D7F;
    border-radius: 2px;
    height: 3rem;
    display: block;
    margin: 0 auto;

}

.addBorder1{
    border: 3px solid #14a76c;
    border-width: 2px 10px 4px 20px;
}

.selectScreenLP{
    width: 75%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

.thBtn {
    margin-top: 60px;
}