.Dropdown{
    background:white;
    width: 90%;
    margin: 10px auto;
    text-align: center;
    font-size:18px;
    font-family: 'Raleway', sans-serif;
    color: black;
}

/*
.buttonSubmit{
    background-color: rgb(15, 185, 143);
    font-size:12px;

    
    font-family: 'Raleway', sans-serif;
}
*/
.buttonSubmit{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

select {
    background-color: rgba(255,255,255,0.9);
    width: 100%;
    padding: 5px;
    border: 1px solid #797D7F  ;
    border-radius: 2px;
    height: 3rem;
}
