.banner {
    max-width: 80%;
    max-height: 80%;
    margin-top: 40px;
}

.logoNavBar {
    max-width: 100%;
    max-height: 100%;
    margin-top: 0px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #272727;
    font-family: 'Source Sans Pro', cursive;
    color: white;
  }
  
  .logo {
    float: left;
  }
  /* ~~ Top Navigation Bar ~~ */
  
  #navigation-container {
    width: 1200px;
    margin: 0 auto;
    height: 70px;
  }
  
  .navigation-bar {
    /*background-color: #747474 ; 
    /*background-color: #eee;
    /* background-color: #FF652f; */
    background-color:  #0F292F;
     /* background-color: #14a76c;*/
    position: absolute; 
    height: 70px;
    width: 100%;
    text-align:center;
  }
  .navigation-bar img{
  float:left;
  }
  .navigation-bar ul {
    float: right;
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
  }
  
  .navigation-bar li {
      
    list-style-type: none;
    padding: 0px;
    height: 24px;
    margin-top: 4px;
    margin-bottom: 4px;
    display: inline;
  }
  
  .navigation-bar li a {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    text-decoration: none;
    line-height: 70px;
    padding: 5px 15px;
    opacity: 0.7;
  }
  
  #menu {
    float: right;
  }

  ul li a:hover {
    color: #2e7282;
    cursor: pointer;
  }
