.PowerSettings{
    background:white;
    width: 90%;
    margin: 10px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    text-align: center;
    font-size:18px;
    font-family: 'Raleway', sans-serif;
    color: black;
}

.subtitlesHead4{
    color:#08b219;
    padding-top: 20px;
    padding-bottom: 10px;
}

.blackButton{
    background-color: red;
    color: white;
  }
  
.whiteButton{
    background-color: black;
    color: black;
  }