.ScheduleContent {
    text-align: center;
    align-content: center;
    width: 90%;
    margin: 10px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
}

.headerSContent{
    text-decoration: underline;
}


.titleHead{
    color: #f4612c;
}

.subtitlesHead2{
    color:#08b219;
    padding-top: 25px;
    padding-bottom: 5px;
}