.ScheduleContent {
    text-align: center;
    align-content: center;
    width: 90%;
    margin: 10px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
}

.headerSContent{
    text-decoration: underline;
}


.titleHead{
    color: #cb2d6f;
}

.subtitlesHead2{
    color: #C2185B;
    padding-top: 25px;
    padding-bottom: 5px;
}

.fixPaddingTitles{
    margin-bottom: 30px;
}

