.UploadVideo{

}

input[type='file'] {
    /*color: transparent; */
    color: black;
    margin-top: 10px;
}

.updateBtn{
    margin-left: 60px;
}

.labelFile{
    margin-top: 10px;
}

.alignBtn{
    margin-top: 55px;
}

.addBorder1{
    border: 3px solid #cb2d6f;
    border-width: 2px 10px 4px 20px;
}

.addBorder2{
    border: 3px solid #14a76c;
    border-width: 2px 10px 4px 20px;
}