.UploadVideo{
    background: white;
    width: 90%;
    margin: 10px auto;
   
    padding: 10px;
    text-align: center;
    font-size:18px;
    font-family: 'Raleway', sans-serif;
    color: black;


    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
}

input[type='file'] {
    /*color: transparent; */
    color: black;
    margin-top: 10px;
}

.updateBtn{
    margin-left: 60px;
}

.labelFile{
    margin-top: 10px;
}

.fixPaddingBar{
    margin-left: 60px;
    margin-top: 20px;
}
.hidden { display:none; }

.modalScheduler{
    font-family: 'Raleway', sans-serif;
    color: black;

}
