.UploadVideo{
    background: white;
    width: 90%;
    margin: 10px auto;
   
    padding: 10px;
    text-align: center;
    font-size:18px;
    font-family: 'Raleway', sans-serif;
    color: black;


    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
}

.updateBtn{
    margin-left: 60px;
}

.labelFile{
    margin-top: 10px;
}

.fixPaddingBar{
    margin-left: 60px;
    margin-top: 20px;
}
.hidden { display:none; }

.modalScheduler{
    font-family: 'Raleway', sans-serif;
    color: black;

}

.addBorderUpload{
    border: 3px solid #14a76c;
    border-width: 2px 10px 4px 20px;
}

.inputName{
    background: #eee;
    color: black;
    padding: 1em;
    margin-top: 0px;
}

.uploadBtn{

    margin-top: 10px;

}