.QuickViewSchedule{
    background:white;
    width: 90%;
    margin: 10px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    text-align: center;
    font-size:18px;
    font-family: 'Raleway', sans-serif;
    color: black;


    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;

}

.selectScreenQS{
    width: 60%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

.col input-field s8{
    text-align: center;
}


.headerScheduler {
    font-family: 'Lobster', cursive;
    color:  #00888a;
}



.quickTable {
    width: 90%;
    border: 3px solid #dddddd;
    padding: 15px;
}

th, td {
    text-align: center;
    padding: 8px;
}

.pageCenter {
	margin-left: auto;
	margin-right: auto;
    max-width: 1000px;
    padding-left: 80px;
	float: none;
}